@import '../../custom.scss';
.btn-primary{
    --bs-btn-font-weight: 600;
    --bs-btn-color: $equator;
    --bs-btn-bg: $banana-mania;
    --bs-btn-border-color:$equator;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #{shade-color($banana-mania, 10%)};
    --bs-btn-hover-border-color: #{shade-color($banana-mania, 10%)};
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #{shade-color($banana-mania, 20%)};
    --bs-btn-active-border-color: #{shade-color($banana-mania, 20%)};
}