:root {
    --primary: #FCE5C0;
    --secondary: #F67457;
    --gray: #d9d9d9;
    --white: #ffffff;
    --black: #222222;

    --brick-red: #BF2D3A;
    --spicy-mix: #806543;
    --equator: #E0B35F;
    --tacao: #F0C286;
    --banana-mania: #FCE5C0;

}
*{
    width: 100vh;
    height:100vh;
}
body{

    background-color:var(--banana-mania);
    /*display: list-item;*/
    align-items: center;
    justify-content: center;
    
}
.container-fluid{
    width: 100vh;
    height:100vh;
}