@import './variables';
$custom_theme_colors_principal:(
    "brick-red":$brick-red,
    "spicy-mix":$spicy-mix,
    "equator":$equator,
    "tacao":$tacao,
    "banana-mania":$banana-mania,
);
$theme-colors: map-merge($custom_theme_colors_principal , $theme-colors);

$position-values: (
  0: 0,
  25:25%,
  50: 50%,
  75:75%,
  100: 100%
);


