*{
    font-family: "Inter";
}

.grid-logo{
    display: grid;
    grid-template-columns: 1;
    align-content: center;
    justify-content: center;
    background-color: #F67457;
}

.grid-logo-img{
    margin-left: auto;
    margin-right: auto;
}

body{
   
    background-color: #FCF5E3;
    
}

header{
    text-align: center;
    display: grid;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.680);
}
.tela-login{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 5%;
}
h1{
   font-size:36px; 
   text-align: center;
}
.tela-login .input-box{
    width:100%;
    height: 50px;
    margin: 30px 0;


}

.input-box input{
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    background-color: #efe8cf;
    text-align: center;
    padding-left:10px;
    padding-right: 20px;

}

.lembrar-esqueceu{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.lembrar-esqueceu a{
    text-decoration: none;
}

.tela-login .btn{
    width: 100%;
    height: 45px;
    background: #efe8cf;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin: 30px 0;
}

.registrar{
    font-size: 14.5px;
    margin-top: 20px;
    text-align: center;

}

.registrar p a{
    text-decoration: none;
}
.registrar p a:hover{
    text-decoration: underline;
}

footer{
    position: fixed;
    background-color: #F67457;
    text-align: center;
    
    left: 0;
    bottom: 0;
    width: 100%;
}
