*{
    font-family: "Inter";
}

.grid-logo{
    display: grid;
    grid-template-columns: 1;
    align-content: center;
    justify-content: center;
    background-color: #F67457;
}

.grid-logo-img{
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #FCF5E3;
}

header{
    text-align: center;
    display: grid;
    box-shadow: 1px 2px 6px rgba(0,0,0,0.680);
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:hover{
    text-decoration: underline;
}

.header-nav{
    background-color: white;
    text-align: center;
}

.header-nav ul{
    list-style-type: none;
}

.header-nav ul li{
    display: inline;
    margin: 5px;
}