*{
    font-family: "Inter";
}

body{
    background-color: #FCF5E3;
}

/*Barra de Navegação e afins*/
.grid-logo{
    display: grid;
    grid-template-columns: 1;
    align-content: center;
    justify-content: center;
    background-color: #F67457;
}

.grid-logo-img{
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    display: grid;
    box-shadow: 1px 2px 6px rgba(90, 36, 20, 0.68);
}

a{
    text-decoration: none;
}

a:link{
    color: black;
}

a:hover{
    text-decoration: underline;
}

.header-nav{
    background-color: white;
    text-align: center;
}

ul{
    list-style-type: none;
}

.header-nav ul li{
    display: inline;
    margin: 5px;
}

/*Categorias, suas descrições e produtos*/
.lista-items{
    display: none;
}

h2{
    cursor: pointer;
}

.seta{
    max-width: 15px;
    max-height: 15px;
}

.img-comida{
    height: 100px;
    margin: 5px;
}

.item-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}

.item{
    background-color: #fff;
    position: relative;
    flex-basis: 400px;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 1px 2px 6px rgba(88, 81, 74, 0.68);
    
}